.user-avatar {
    width: 44px;
    height: 44px;
    border-radius: 20px;
}

.username {
    font-size: 16px;
    line-height: 20px;
}

.user-info {
    display: flex;
    width: 100%;
}

.user-profile-stack {
    margin-left: 10px;
    width: 63%;
}

.about {
    font-size: 12px;
    color: #8c78a1;
}

.logout {
    right: 15px;
    margin-left: auto;
}
